@import url("/Components/Alert/alert.css");
@import url("/Components/Avatar/avatar.css");
@import url("/Components/Badge/badge.css");
@import url("/Components/Button/button.css");
@import url("/Components/Card/card.css");
@import url("/Components/Image/image.css");
@import url("/Components/Input/input.css");
@import url("/Components/Navigation/navigation.css");
@import url("/Components/Lists/lists.css");
@import url("/Components/Text-Utilities/text-utility.css");
@import url("/Components/Modal/modal.css");
@import url("/Components/Snackbar/snackbar.css");
@import url("/Components/Grid/grid.css");
@import url("/Components/Ratings/ratings.css");


:root {
    --text-color: rgb(0, 0, 0);
    --header-text: rgb(255, 255, 255);
    --header-background: rgb(31, 31, 39);
    --box-shadow: rgb(245, 245, 245);
    --text-white-color:rgb(255, 255, 255);
    --grey: rgb(128, 128, 128);
    --gainsboro: rgb(220, 220, 220);
    --purple: rgb(177, 23, 177);
    --black-snackbar : rgb(51, 51, 51);
    --success-snackbar:  rgb(6, 134, 6);
    --kahrido-bg: rgb(40, 116, 240);
    --header-whitecol: rgb(255, 255, 255);
    --light-blue: rgb(0, 123, 255);
    --logout-color: rgb(51, 122, 183);
    --grid-bg: rgb(51, 51, 51);
    --white:rgb(255, 255, 255);
    --white-text-color: rgb(255, 255, 255);
    --dark-blue: rgb(0, 42, 70);
    --primary-alert: rgb(110, 110, 250);
    --warning-alert: rgb(248, 175, 65);
    --success-alert: rgb(89, 194, 89);
    --danger-alert: rgb(233, 67, 67);
}



