@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root {
    --header-text: white;
    --header-background:#1f1f27;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.header-icon {
    font-size: 2rem;
    padding-right: 0.5rem;
    color: var(--header-text);
}

.header {
    display: flex;
    padding: 0.7rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    background-color: var(--header-background);
}

.header-link {
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    color: var(--header-text);
}

.header-text {
    margin-right: auto;
    font-weight: 400;
    color: var(--header-text);
}

.home-section {
    width: 40%;
    margin: auto;
}

.landingpage-heading {
    font-weight: 600;
}

.landingpage-para {
    font-weight: 400;
    padding: 1rem 0rem;
}

.center-link {
    display: flex;
    flex-wrap: wrap;
}


.git-link {
    text-decoration: none;
    border: 1px solid black;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: black;
    margin: 0.2rem 0.3rem;
}

.start-link {
    text-decoration: none;
    border: 1px solid black;
    padding: 0.3rem 1rem;
    color: black;
    border-radius: 0.5rem;
    margin: 0.2rem 0.3rem;
}

@media (max-width:584px){
    .home-section {
        width: 70%;
        margin: auto;
    }
}