<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ASk3Y_XaXtDjLvRBZszR9AQplZ6Q86-SzERvT2qP9yS-YVhlOPBEhvsK3O-1fYsJWZs&usqp=CAU">
    <link rel="stylesheet" href="/Components/Card/card.css">
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Alert/alert.html">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor active" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Lists/lists.html">List</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Navigation/navigation.html">Navigation</a></li>
            <li class="nav-link"><a class="nav-anchor"
                    href="/Components/Text-Utilities/text-utility.html">Text-Utilities</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Modal/modal.html">Modal</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Snackbar/snackbar.html">Snackbar</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Grid/grid.html">Grid</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Ratings/ratings.html">Ratings</a>
            </li>
        </ul>
    </nav>
    <section class="main-container">
        <h1 class="main-heading">Card</h1>
        <div class="separator"></div>


        <!-- simple vertical card -->
        <h3 class="sub-heading">Simple vertical card</h3>
        <p class="des-para">This is simple card which will be useful for your website</p>

        <div class="card-outerbox">

            <div class="card-container-simple">
                <div class="card-img-box">
                    <img class="card-image"
                        src="https://i.pinimg.com/originals/90/a0/ec/90a0ec57079416bfedb2a2c74377c48d.jpg" alt="">
                </div>
                <div class="brand-name">
                    Lacoste
                </div>
                <div class="category-simple">
                    Men Slim Fit Tshirt
                </div>
                <div class="price">
                    Rs. 999
                </div>
                <div class="price-cut-container-simple">
                    <span class="price-cut">
                        Rs.1999
                    </span>
                    <span class="price-offer">
                        (50% off)
                    </span>
                </div>
            </div>

        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd510233c09d0015b44db7"
            frameborder="0"></iframe>


        <!-- Card with badges -->

        <h3 class="sub-heading">Card With badges, Card with dismiss and Card with shadow</h3>
        <p class="des-para">Here are 2 simple vertical card with badges, dismiss and shadow</p>


        <div class="card-outerbox">

            <div class="card-container-part">
                <div class="card-img-box">
                    <img class="card-image"
                        src="https://i.pinimg.com/originals/90/a0/ec/90a0ec57079416bfedb2a2c74377c48d.jpg" alt="">
                </div>
                <div class="brand-name">
                    Lacoste
                </div>
                <div class="category">
                    Men Slim Fit Tshirt
                </div>
                <div class="price">
                    Rs. 999
                </div>
                <div class="price-cut-container-part">
                    <span class="price-cut">
                        Rs.1999
                    </span>
                    <span class="price-offer">
                        (50% off)
                    </span>
                    <span class="price-rating">
                        4.5
                        <i class="fas fa-star price-star"></i>
                    </span>
                </div>

                <button class="card-add-btn">
                    <i class="fas fa-shopping-cart"></i>
                    Add to cart
                </button>
                <div class="new-card-arrival">
                    New
                </div>
                <button class="card-wishlist">
                    <i class="fas fa-heart"></i>
                </button>
            </div>

            <!-- card with dismiss -->

            <div class="card-container-part">
                <div class="card-img-box">
                    <img class="card-image"
                        src="https://i.pinimg.com/originals/90/a0/ec/90a0ec57079416bfedb2a2c74377c48d.jpg" alt="">
                </div>
                <div class="brand-name">
                    Lacoste
                </div>
                <div class="category">
                    Men Slim Fit Tshirt
                </div>
                <div class="price">
                    Rs. 999
                </div>
                <div class="price-cut-container-part">
                    <span class="price-cut">
                        Rs.1999
                    </span>
                    <span class="price-offer">
                        (50% off)
                    </span>
                    <span class="price-rating">
                        4.5
                        <i class="fas fa-star price-star"></i>
                    </span>
                </div>
                <button class="card-add-btn">
                    Add to cart
                </button>
                <div class="new-card-arrival">
                    New
                </div>
                <button class="card-dismiss">
                    <i class="fas fa-times"></i>
                </button>
            </div>

        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd65ef33c09d0015b44ddf"
            frameborder="0"></iframe>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd651733c09d0015b44dde"
            frameborder="0"></iframe>


        <!-- Simple horizontal card -->

        <h3 class="sub-heading">Simple horizontal card</h3>


        <div class="card-outerbox">

            <div class="card-container-horiz">
                <div class="card-img-box">
                    <img class="card-image"
                        src="https://i.pinimg.com/originals/90/a0/ec/90a0ec57079416bfedb2a2c74377c48d.jpg" alt="">
                </div>
                <div class="horizon-content-text">
                    <div class="brand-name">
                        Lacoste
                    </div>
                    <div class="category">
                        Men Slim Fit Tshirt
                    </div>
                    <div class="price">
                        Rs. 999
                    </div>
                    <div class="price-cut-container">
                        <span class="price-cut">
                            Rs.1999
                        </span>
                    </div>
                    <div>
                        <select class="quantity">
                            <option value="1">Qty: 1</option>
                            <option value="2">Qty: 2</option>
                            <option value="3">Qty: 3</option>
                            <option value="4">Qty: 4</option>
                            <option value="5">Qty: 5</option>
                        </select>
                    </div>
                    <button class="card-add-btn horizon-ca">
                        Move to wishlist
                    </button>
                    <button class="card-dismiss-horizon">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd7d2c33c09d0015b44de9"
            frameborder="0"></iframe>

        <!--Text only card  -->

        <h3 class="sub-heading">Text only card</h3>

        <div class="card-outerbox">
            <div class="text-only">
                <div class="text-onlytext">Peace</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex earum adipisci illum provident
                    consequatur aperiam temporibus blanditiis quas voluptatibus accusamus praesentium laborum nesciunt
                    laboriosam minus, velit architecto omnis ipsum doloribus.</p>
            </div>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd823833c09d0015b44df1"
            frameborder="0"></iframe>



        <!-- card with text overlay -->

        <h3 class="sub-heading">Card with text overlay</h3>

        <div class="card-outerbox">
            <div class="image-over-container">
                <img class="overlay-card-image"
                    src="https://images-na.ssl-images-amazon.com/images/I/61-y5ZV-4fL._AC_UL1200_.jpg" alt="">
                <div class="overlay-textup">
                    <div class="overlay-heading">LEVI'S</div>
                    <p>Levi's one of the best tshirt brand and they also sell shoes, bads and many more if you want to
                        know more about levis go to there website </p>
                </div>
            </div>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd93b233c09d0015b44e0f"
            frameborder="0"></iframe>
        <footer>
            <div class="bottom-anchor">
                <div>
                    <a class="last-anchor" href="/Components/Button/button.html">&#10096; Button </a>
                </div>
                <div>
                    <a class="last-anchor" href="/Components/Image/image.html">Image &#10097;</a>
                </div>
              </div>
        </footer>

    </section>

</body>

</html>