:root{
    --white-text-color: white;
    --dark-blue: #002A46;
}


/* Simple vertical card */

.card-container-simple{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 11rem;
    height: 15.3rem;
    box-shadow: 1px 2px 5px 1px rgb(196, 196, 196);
    background-color: var(--white-text-color) ;
}

.category-simple{
    font-size: 0.7rem;
    margin-left: 0.55rem;
    margin-top: 0.1rem;
}

.price-cut-container-simple{
    position: absolute;
    top: 13.5rem;
    left: 3.8rem;
}

/* Simple ends */

/* Normal card css starts here */

.card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 11rem;
    height: 19.8rem;
    box-shadow: 1px 2px 5px 1px rgb(196, 196, 196);
    background-color: var(--white-text-color) ;
}

.card-img-box{
    width: 10rem;
    height: 10rem;
    margin: 0.45rem;
}

.card-image {
    width: 100%;
    height: 100%;
}

.brand-name {
    font-weight: 700;
    font-size: 0.9em;
    margin-left: 0.55rem;
    margin-top: 0.25rem;
}

.category{
    font-size: 0.7rem;
    margin-left: 0.55rem;
    margin-top: 0.5rem;
}

.price{
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 0.55rem;
    margin-top: 0.45rem;
}

.price-cut{
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 0.55rem;
}

.price-offer{
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 0.3rem;
    color: #e53e3e;
}

.price-rating{
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0.2rem;
    background-color: #38a169;
    border-radius: 0.4rem;
    padding: 0.1rem 0.26rem;
    color: var(--white-text-color) ;
}

.card-add-btn{
    font-size: 0.84rem;
    font-weight: 400;
    margin: 0.5rem 0.55rem 0rem 0.55rem;
    background-color: #002A46;
    color: var(--white-text-color) ;   
    padding: 0.4rem 2rem;
    border-radius:0.3rem;
    text-align: center;
    border: 0;
    cursor: pointer;
}


/* Normal card starts here */

/* Card with badge css starts here */

.card-wishlist{
    font-size: 0.9rem;
    position: absolute;
    bottom: 8rem;
    left: 9rem;
    background-color:#ffe4e4 ;
    opacity: 1;
    color: var(--white-text-color);
    padding: 0.25rem;
    border-radius: 50%;
    margin-left:0.1rem ;
    width: 1.9rem;
    height: 1.9rem;
    cursor: pointer;
    border: none;
}

.new-card-arrival{
    font-size: 0.77rem;
    font-weight: 300px;
    background-color: var(--dark-blue);
    color: var(--white-text-color) ;
    padding: 0.1rem 0.2rem;
    position: absolute;
    bottom: 16.3rem;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    padding-right:0.5rem;
}

.card-container-part{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 11rem;
    height: 19rem;
    box-shadow: 1px 2px 5px 1px rgb(196, 196, 196);
    background-color: var(--white-text-color) ;
}

/* card with badge css ends here */

/* Card dismiss css starts */

.card-dismiss{
    color: rgb(167, 167, 167);
    border: none;
    background-color: none;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    bottom: 17.77rem;
    left: 9.7rem;
    background-color: whitesmoke;
}


/* card dismiss css ends */



/* Horizontal card starts */

.card-container-horiz{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 22rem;
    height: 11rem;
    box-shadow: 1px 2px 5px 1px rgb(196, 196, 196);
    background-color: var(--white-text-color) ;
}

.horizon-content-text{
  margin-top: 2.4rem;
  margin-left: 0.3rem;

}

.horizon-ca{
   padding-left: 1.3rem;
   padding-right: 1.3rem;
}

.card-dismiss-horizon{
    color: rgb(167, 167, 167);
    border: none;
    background-color: none;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    bottom: 9.3rem;
    left: 20.31rem;
    cursor: pointer;
    background-color: whitesmoke;
}

/* horizontal card ends */


/* Text only card starts*/

.text-only{
    width: 20rem;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    background-color: rgb(119, 119, 119);
}

.text-onlytext{
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
}
/* Text only card ends */


/* Text overlay card starts */

.image-over-container{
    width: 20rem;
    height: 20rem;
    position: relative;
    color: white;
}

.image-over-container::before{
    content: "";
    background-color: rgb(104, 103, 103);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.overlay-card-image{
    width: 100%;
    height: 100%;
}

.overlay-heading{
    font-weight: 700;
}

.overlay-textup{
    position: absolute;
    top: 14rem;
    margin: 0rem 1rem;
}

/* Text overaly ends */









