.CL-button {
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid;
    cursor: pointer;
    font-weight: 500
}

.btn-primary {
    background-color: #6e6efa;
    color: var(--white);
}

.btn-signin {
    background-color: rgb(89, 194, 89);
    color: var(--white);
}

.btn-signout {
    background-color: rgb(233, 67, 67);
    color: var(--white);
}

.btn-login {
    background-color: rgb(37, 36, 36);
    color: var(--white);
}

.btn-out-primary {
    color: #6e6efa;
    background-color: var(--white);
}

.btn-out-primary:hover {
    background-color: #6e6efa;
    color: var(--white);
}

.btn-out-signin {
    color: rgb(89, 194, 89);
    background-color: var(--white);
}

.btn-out-signin:hover {
    background-color: rgb(89, 194, 89);
    color: var(--white);
}

.btn-out-signout {
    color: rgb(233, 67, 67);
    background-color: var(--white);
}

.btn-out-signout:hover {
    background-color: rgb(233, 67, 67);
    color: var(--white);
}

.btn-out-login {
    color: rgb(37, 36, 36);
    background-color: var(--white);
}

.btn-out-login:hover {
    background-color: rgb(37, 36, 36);
    color: var(--white);
}

.icn-btn-cart {
    color: var(--white);
    background-color: #6e6efa;
}

.icn-btn-delete {
    color: var(--white);
    background-color: rgb(233, 67, 67);
}

.btn-cl-anchor {
    text-decoration: none;
    color: var(--white);
}

.click-cl {
    background-color: #6e6efa;
}

.click-coup {
    background-color: rgb(37, 36, 36);
}

.floating-btn {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid;
    color: var(--white);
    cursor: pointer;
}

.float-plus {
    font-size: 1.5rem;
    background-color: rgb(89, 194, 89);
}

.float-tele {
    font-size: 1.5rem;
    background-color: #6e6efa;
}

.floating-btn:hover {
    width: 3.57rem;
    height: 3.57rem;
}