<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="/Components/Button/button.css">
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Alert/alert.html">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor active" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
        </ul>
    </nav>
    <section class="main-container">

        <h1 class="main-heading">Button</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">Primary Buttons</h3>
        <p class="des-para">The button is a simple yet elegant clickable interface to let the user interact with it.</p>
        <div class="button-container">
            <button class="CL-button btn-primary">Primary</button>
            <button class="CL-button btn-signin">Sign in</button>
            <button class="CL-button btn-signout">Sing out</button>
            <button class="CL-button btn-login">Login</button>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fb0388b783be0015bbafbd"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Outline Buttons</h3>
        <div class="button-container">
            <button class="CL-button btn-out-primary">Primary</button>
            <button class="CL-button btn-out-signin">Sign in</button>
            <button class="CL-button btn-out-signout">Sign out</button>
            <button class="CL-button btn-out-login">Login</button>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fb0ae7b783be0015bbafc2"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Icon Buttons</h3>
        <div class="button-container">
            <button class="CL-button icn-btn-cart">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to cart</span>
            </button>
            <button class="CL-button  icn-btn-delete">
                <i class="fas fa-trash"></i>
                <span>Delete</span>
            </button>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fb185eb783be0015bbafc8"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Link Button</h3>
        <div class="button-container">
            <button class="CL-button click-cl">
                <a class="btn-cl-anchor" href="#">Click here</a>
            </button>

            <button class="CL-button click-coup">
                <a class="btn-cl-anchor" href="#">Apply coupon</a>
            </button>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fb1e70b783be0015bbafcb"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Floating Action Button</h3>
        <div class="button-container">
            <button class="floating-btn float-plus">
                <i class="fas fa-plus-circle"></i>
            </button>
            <button class="floating-btn float-tele">
                <i class="fab fa-telegram-plane"></i>
            </button>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fb268fb783be0015bbafcc" frameborder="0"></iframe>


        <footer>
            <a class="bottom-anchor back" href="/Components/Badge/badge.html">Badge</a>
            <a class="bottom-anchor next" href="/Components/Card/card.html">Card</a>
        </footer>

    </section>
</body>

</html>