.avatar-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.extra-large-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.large-avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.medium-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.small-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}