<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/Components/Avatar/avatar.css">
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link "><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor active" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="">Input</a></li>
        </ul>
    </nav>
    <section class="main-container">
        <h1 class="main-heading">Avatar</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">Normal Avatar</h3>
        <p class="des-para">An avatar is an icon or figure representing a person in a profile section or chat screens.
        </p>
        <div class="avatar-container">
            <img class="avatar-image avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-2.png"
                alt="Avatar">
            <img class="avatar-image avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-3.png"
                alt="Avatar">
            <img class="avatar-image avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                alt="Avatar">
        </div>

        <iframe class="avatar-iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=10px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar-image%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-2.png%2522%2520alt%253D%2522Avatar%2522%253E%250A%253Cimg%2520class%253D%2522avatar-image%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-3.png%2522%2520alt%253D%2522Avatar%2522%253E%250A%253Cimg%2520class%253D%2522avatar-image%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-1.png%2522%2520alt%253D%2522Avatar%2522%253E"
            style="width: 700px; height: 225px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h3 class="sub-heading">Standard Avatar</h3>
        <p class="des-para">The Aatar has 4 sizes Extra large, Large, Medium and small</p>

        <div class="avatar-container">
            <img class="extra-large avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-2.png"
                alt="Avatar">
            <img class="large avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-3.png" alt="Avatar">
            <img class="medium avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-1.png" alt="Avatar">
            <img class="small avatar-space" src="https://picturepan2.github.io/spectre/img/avatar-5.png" alt="Avatar">
        </div>

        <iframe class="avatar-iframe"
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=10px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522extra-large%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-2.png%2522%2520alt%253D%2522Avatar%2522%253E%250A%253Cimg%2520class%253D%2522large%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-3.png%2522%2520alt%253D%2522Avatar%2522%253E%250A%253Cimg%2520class%253D%2522medium%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-1.png%2522%2520alt%253D%2522Avatar%2522%253E%250A%253Cimg%2520class%253D%2522small%2522%2520src%253D%2522https%253A%252F%252Fpicturepan2.github.io%252Fspectre%252Fimg%252Favatar-5.png%2522%2520alt%253D%2522Avatar%2522%253E"
            style="width: 700px; height: 225px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>



    </section>
</body>

</html>