<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <link rel="stylesheet" href="/Components/Ratings/ratings.css">
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor ">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Lists/lists.html">List</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Navigation/navigation.html">Navigation</a></li>
            <li class="nav-link"><a class="nav-anchor"
                href="/Components/Text-Utilities/text-utility.html">Text-Utilities</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Text-Utilities/text-utility.html">Modal</a>
            </li>
            <li class="nav-link"><a class="nav-anchor active"
                    href="/Components/Text-Utilities/text-utility.html">Ratings</a></li>
          

        </ul>
    </nav>
    <section class="main-container">

        <h1 class="main-heading">Ratings</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">Normal Filled Star</h3>
        <p class="des-para">This is 4.5 star rating component which you can use in your ecommerce</p>
        <div class="rating-outdiv">
            <i class="fas fa-star filled"></i>
            <i class="fas fa-star filled"></i>
            <i class="fas fa-star filled"></i>
            <i class="fas fa-star filled"></i>
            <i class="fas fa-star-half-alt filled"></i>
        </div>
        <iframe src="https://www.thiscodeworks.com/embed/623f543a9f69df00152301f1" class="iframe" frameborder="0"></iframe>

        <h3 class="sub-heading">1 Star Rating</h3>
        <p class="des-para">This is 1 star rating component which you can use in your ecommerce</p>
        <div class="rating-outdiv">
            <i class="fas fa-star filled"></i>
        </div>

        <iframe src="https://www.thiscodeworks.com/embed/623f54be9f69df00152301f2" class="iframe" frameborder="0"></iframe>

        <a class="bottom-anchor back" href="/Components/Avatar/avatar.html">&#10096; Avatar </a>
        <a class="bottom-anchor next" href="/Components/Badge/badge.html">Badge &#10097;</a>
    </section>
</body>

</html>