<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor active" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Alert/alert.html">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Lists/lists.html">List</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Navigation/navigation.html">Navigation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Text-Utilities/text-utility.html">Text-Utilities</a>
            </li>
        </ul>
    </nav>
    <section class="main-container">
        <h1 class="main-heading">Installation</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">How to install?</h3>
        <p class="des-para">Just copy paste the below code in the head tag of your HTML document and you are ready to go
        </p>

        <div class="some-space"></div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fd95aa33c09d0015b44e12"
            frameborder="0"></iframe>

        <footer>
            <a class="bottom-anchor back" href="/index.html"> Home </a>
            <a class="bottom-anchor next" href="/Components/Avatar/avatar.html">Avatar</a>
        </footer>

    </section>
</body>

</html>