.badge-image{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.badge-status{
 border-radius: 50%;
 width: 14px;
 height: 14px;
 position: relative;
 bottom: 1.3rem;
 left: 3rem;
 border: 1.5px solid var(--white);
}

.online{
    background-color: green;
}

.offline{
    background-color: var(--grey);
}

.with-num{
    text-align: center;
    font-size: 0.6rem;
    background-color: rgb(255, 38, 0);
    color: var(--white);
    font-family: 600;
}

.badge-icon{
    font-size: 1.6rem;
}

.badge-notifi{
    text-align: center;
    font-size: 0.6rem;
    background-color: rgb(255, 38, 0);
    color: var(--white);
    width: 14px;
    height: 15px;
    border-radius: 50%;
    border: 1.5px solid var(--white);
    position: relative;
    bottom: 1.94rem;
    left: 1.2rem;
    font-weight: 600;
}





