<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="/Components/Badge/badge.css">
    <link rel="stylesheet" href="/docs.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Alert/alert.html">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor active" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Lists/lists.html">List</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Navigation/navigation.html">Navigation</a></li>
            <li class="nav-link"><a class="nav-anchor"
                    href="/Components/Text-Utilities/text-utility.html">Text-Utilities</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Modal/modal.html">Modal</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Snackbar/snackbar.html">Snackbar</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Grid/grid.html">Grid</a>
            </li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Text-Utilities/text-utility.html">Ratings</a>
            </li>
        </ul>
    </nav>
    <section class="main-container">
        <h1 class="main-heading">Badge</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">Badge on Avatar</h3>
        <p class="des-para">A badge is a counter shown on icons like cart, notification and avatars. Here you can saw 3
            differant badges - online, offline and number of notifications</p>
        <div class="badge-container">
            <div class="badge-space">
                <img class="badge-image" src="https://picturepan2.github.io/spectre/img/avatar-2.png" alt="Avatar">
                <div class="badge-status online"></div>
            </div>
            <div class="badge-space">
                <img class="badge-image" src="https://picturepan2.github.io/spectre/img/avatar-1.png" alt="Avatar">
                <div class="badge-status offline"></div>
            </div>
            <div class="badge-space">
                <img class="badge-image" src="https://picturepan2.github.io/spectre/img/avatar-3.png" alt="Avatar">
                <div class="badge-status with-num">3</div>
            </div>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61faaea0b783be0015bbaefd"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Badge on Icon</h3>
        <div class="badge-icon-container">
            <i class="fas fa-shopping-cart badge-icon"></i>
            <div class="badge-notifi">5</div>
            <i class="fas fa-envelope badge-icon"></i>
            <div class="badge-notifi">6</div>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/61fac03db783be0015bbaf1c"
            frameborder="0"></iframe>


        <footer>
            <a class="bottom-anchor back" href="/Components/Alert/alert.html"> &#10096; Alert </a>
            <a class="bottom-anchor next" href="/Components/Button/button.html">Button &#10097;</a>
        </footer>











    </section>
</body>

</html>