<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utility</title>
    <link rel="stylesheet" href="/docs.css">
    <link rel="stylesheet" href="/Components/Text-Utilities/text-utility.css">
    <script src="https://kit.fontawesome.com/2a3afcb5fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <i class="fas fa-fighter-jet header-icon"></i>
        <h1 class="header-text"></i>QuickUI</h1>
        <a class="header-link" class="header-link" href="/index.html">Home</a>
    </header>
    <nav>
        <ul class="navigation">
            <li class="nav-link"><a class="nav-anchor" href="/Components/installation.html">Installation</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Alert/alert.html">Alert</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Badge/badge.html">Badges</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Button/button.html">Button</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Card/card.html">Card</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Image/image.html">Image</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Input/input.html">Input</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Lists/lists.html">List</a></li>
            <li class="nav-link"><a class="nav-anchor" href="/Components/Navigation/navigation.html">Navigation</a></li>
            <li class="nav-link"><a class="nav-anchor active"
                    href="/Components/Text-Utilities/text-utility.html">Text-Utilities</a></li>
        </ul>
    </nav>
    <section class="main-container">
        <h1 class="main-heading">Text-Utilities</h1>
        <div class="separator"></div>
        <h3 class="sub-heading">Heading Text</h3>
        <p class="des-para">All HTML headings from h1 to h6 and p tag are shown here.</p>

        <div class="text-container">
            <h1 class="texts-space">This is h1</h1>
            <h2 class="texts-space">This is h2</h2>
            <h3 class="texts-space">This is h3</h3>
            <h4 class="texts-space">This is h4</h4>
            <h5 class="texts-space">This is h5</h5>
            <h6 class="texts-space">This is h6</h6>
            <span class="text-para">Paragraph:</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias earum nemo officia eligendi sunt maxime
                ipsa et asperiores, ex voluptas.</p>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/62039e30234b8a0015700ccb"
            frameborder="0"></iframe>

        <h3 class="sub-heading">Small Text</h3>
        <p class="des-para">Small text available here.</p>
        <div class="text-container">
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint doloremque beatae, laudantium maxime,
                possimus est deleniti cupiditate, ad eligendi dolor fugiat perspiciatis iusto consectetur fuga quibusdam
                error molestiae aperiam voluptas.</small>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/6203a073234b8a0015700ccf"
            frameborder="0"></iframe>


        <h3 class="sub-heading">Gray Text</h3>
        <p class="des-para">Gray text available here.</p>

        <div class="text-container">
            <p class="gray-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas aperiam distinctio maxime, assumenda
                temporibus, suscipit voluptate nulla tempora fugiat dicta ab eius sequi fugit neque, eaque blanditiis
                architecto ullam eveniet?
            </p>
        </div>


        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/6203a29a234b8a0015700cd1"
            frameborder="0"></iframe>

        <h3 class="sub-heading">Center Text</h3>
        <p class="des-para">Center text available here.</p>

        <div class="text-container">
            <p class="center-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi, laborum architecto odio incidunt
                dolore illum? Illo natus dolores deserunt!
            </p>
        </div>

        <iframe class="iframe" src="https://www.thiscodeworks.com/embed/6203a433234b8a0015700cd8" frameborder="0"></iframe>



        <footer>
            <a class="bottom-anchor back" href="/Components/Navigation/navigation.html">&#10096; Navigation </a>
            <a class="bottom-anchor next" href="/index.html">Home &#10097;</a>
        </footer>

    </section>
</body>

</html>